<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated attacktree -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.cmu.attacktree.presentation.AttackTreeModelWizardID"
            name="%_UI_AttackTreeModelWizard_label"
            class="edu.cmu.attacktree.presentation.AttackTreeModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AttackTreeModelFile.gif">
         <description>%_UI_AttackTreeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated attacktree -->
      <editor
            id="edu.cmu.attacktree.presentation.AttackTreeEditorID"
            name="%_UI_AttackTreeEditor_label"
            icon="icons/full/obj16/AttackTreeModelFile.gif"
            extensions="attacktree"
            class="edu.cmu.attacktree.presentation.AttackTreeEditor"
            contributorClass="edu.cmu.attacktree.presentation.AttackTreeActionBarContributor">
      </editor>
   </extension>

</plugin>
