<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated attackimpact -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.cmu.attackimpact.presentation.AttackImpactModelWizardID"
            name="%_UI_AttackImpactModelWizard_label"
            class="edu.cmu.attackimpact.presentation.AttackImpactModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AttackImpactModelFile.gif">
         <description>%_UI_AttackImpactModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated attackimpact -->
      <editor
            id="edu.cmu.attackimpact.presentation.AttackImpactEditorID"
            name="%_UI_AttackImpactEditor_label"
            icon="icons/full/obj16/AttackImpactModelFile.gif"
            extensions="attackimpact"
            class="edu.cmu.attackimpact.presentation.AttackImpactEditor"
            contributorClass="edu.cmu.attackimpact.presentation.AttackImpactActionBarContributor">
      </editor>
   </extension>

</plugin>
